In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [10]:
movies = pd.read_csv("Movie Recommendation System/archive (1)/tmdb_5000_movies.csv")
credits = pd.read_csv("Movie Recommendation System/archive (1)/tmdb_5000_credits.csv")

In [11]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [12]:
movies.shape

(4803, 20)

In [13]:
movies.merge(credits,on='title')

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [14]:
movies = movies.merge(credits, on='title', how='outer')

In [15]:
print(credits['title'].value_counts())

title
The Host                 2
Batman                   2
Out of the Blue          2
Avatar                   1
The Girl on the Train    1
                        ..
Step Up 3D               1
Secondhand Lions         1
The Age of Adaline       1
Drag Me to Hell          1
My Date with Drew        1
Name: count, Length: 4800, dtype: int64

In [16]:
credits = credits.drop_duplicates(subset=['title'])

In [17]:
movies['title'] = movies['title'].astype(str)
credits['title'] = credits['title'].astype(str)

In [18]:
movies.shape

(4809, 23)

In [19]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [20]:
movies = movies[['movie_id','title','overview','genres','keywords','cast', 'crew']]

In [21]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,301325,#Horror,"Inspired by actual events, a group of 12 year ...","[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",[],"[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."
1,19913,(500) Days of Summer,"Tom (Joseph Gordon-Levitt), greeting-card writ...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 572, ""nam...","[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...","[{""credit_id"": ""52fe47f99251416c750abaa5"", ""de..."

In [22]:
movies.shape

(4809, 7)

In [23]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [24]:
movies.dropna(inplace=True)

In [25]:
movies.shape

(4806, 7)

In [26]:
movies.duplicated().sum()

0

In [27]:
import ast
def convert(text):
    l=[]
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l

In [28]:
movies['genres'] = movies['genres'].apply(convert)

In [29]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,301325,#Horror,"Inspired by actual events, a group of 12 year ...","[Drama, Mystery, Horror, Thriller]",[],"[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."

In [30]:
movies.iloc[1]['keywords']

'[{"id": 248, "name": "date"}, {"id": 572, "name": "sex"}, {"id": 931, "name": "jealousy"}, {"id": 1721, "name": "fight"}, {"id": 2301, "name": "architect"}, {"id": 2861, "name": "gallery"}, {"id": 4434, "name": "interview"}, {"id": 5923, "name": "sister"}, {"id": 8508, "name": "party"}, {"id": 9673, "name": "love"}, {"id": 9713, "name": "friends"}, {"id": 10855, "name": "fate"}, {"id": 12670, "name": "los angeles"}, {"id": 13088, "name": "summer"}, {"id": 180509, "name": "ikea"}, {"id": 201689, "name": "year"}, {"id": 201696, "name": "heartache"}]'

In [31]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,301325,#Horror,"Inspired by actual events, a group of 12 year ...","[Drama, Mystery, Horror, Thriller]",[],"[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."
1,19913,(500) Days of Summer,"Tom (Joseph Gordon-Levitt), greeting-card writ...","[Comedy, Drama, Romance]","[date, sex, jealousy, fight, architect, galler...","[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...","[{""credit_id"": ""52fe47f99251416c750abaa5"", ""de..."

In [32]:
import ast
def convert_cast(text):
    l=[]
    counter=0
    for i in ast.literal_eval(text):
        if counter<3:
            l.append(i['name'])
        counter+=1
    return l

In [33]:
movies['cast'] = movies['cast'].apply(convert_cast)
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,301325,#Horror,"Inspired by actual events, a group of 12 year ...","[Drama, Mystery, Horror, Thriller]",[],"[Taryn Manning, Natasha Lyonne, Chloë Sevigny]","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."
1,19913,(500) Days of Summer,"Tom (Joseph Gordon-Levitt), greeting-card writ...","[Comedy, Drama, Romance]","[date, sex, jealousy, fight, architect, galler...","[Joseph Gordon-Levitt, Zooey Deschanel, Chloë ...","[{""credit_id"": ""52fe47f99251416c750abaa5"", ""de..."

In [34]:
def fetch_director(text):
    l=[]
    for i in ast.literal_eval(text):
        if i['job']=="Director":
            l.append(i['name'])
            break
    return l

In [35]:
movies['crew'] = movies['crew'].apply(fetch_director)
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,301325,#Horror,"Inspired by actual events, a group of 12 year ...","[Drama, Mystery, Horror, Thriller]",[],"[Taryn Manning, Natasha Lyonne, Chloë Sevigny]",[Tara Subkoff]
1,19913,(500) Days of Summer,"Tom (Joseph Gordon-Levitt), greeting-card writ...","[Comedy, Drama, Romance]","[date, sex, jealousy, fight, architect, galler...","[Joseph Gordon-Levitt, Zooey Deschanel, Chloë ...",[Marc Webb]

In [36]:
movies['overview'] =movies['overview'].apply(lambda x:x.split())
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,301325,#Horror,"[Inspired, by, actual, events,, a, group, of, ...","[Drama, Mystery, Horror, Thriller]",[],"[Taryn Manning, Natasha Lyonne, Chloë Sevigny]",[Tara Subkoff]
1,19913,(500) Days of Summer,"[Tom, (Joseph, Gordon-Levitt),, greeting-card,...","[Comedy, Drama, Romance]","[date, sex, jealousy, fight, architect, galler...","[Joseph Gordon-Levitt, Zooey Deschanel, Chloë ...",[Marc Webb]

In [37]:
movies.iloc[0]['overview']

['Inspired',
 'by',
 'actual',
 'events,',
 'a',
 'group',
 'of',
 '12',
 'year',
 'old',
 'girls',
 'face',
 'a',
 'night',
 'of',
 'horror',
 'when',
 'the',
 'compulsive',
 'addiction',
 'of',
 'an',
 'online',
 'social',
 'media',
 'game',
 'turns',
 'a',
 'moment',
 'of',
 'cyber',
 'bullying',
 'into',
 'a',
 'night',
 'of',
 'insanity.']

In [38]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,301325,#Horror,"[Inspired, by, actual, events,, a, group, of, ...","[Drama, Mystery, Horror, Thriller]",[],"[Taryn Manning, Natasha Lyonne, Chloë Sevigny]",[Tara Subkoff]
1,19913,(500) Days of Summer,"[Tom, (Joseph, Gordon-Levitt),, greeting-card,...","[Comedy, Drama, Romance]","[date, sex, jealousy, fight, architect, galler...","[Joseph Gordon-Levitt, Zooey Deschanel, Chloë ...",[Marc Webb]
2,333371,10 Cloverfield Lane,"[After, a, car, accident,, Michelle, awakens, ...","[Thriller, Science Fiction, Drama]","[kidnapping, bunker, paranoia, basement, survi...","[Mary Elizabeth Winstead, John Goodman, John G...",[Dan Trachtenberg]
3,345003,10 Days in a Madhouse,"[Nellie, Bly,, a, 23, year-old, reporter, for,...",[Drama],"[undercover, insane asylum, reporter]","[Caroline Barry, Christopher Lambert, Kelly Le...",[Timothy Hines]
4,4951,10 Things I Hate About You,"[Bianca,, a, tenth, grader,, has, never, gone,...","[Comedy, Romance, Drama]","[shakespeare, sister, high school, cannabis, d...","[Heath Ledger, Julia Stiles, Joseph Gordon-Lev...",[Gil Junger]

In [39]:
def remove_space(word):
    l=[]
    for i in word:
        l.append(i.replace(" ",""))
    return l

In [40]:
movies['cast'] = movies['cast'].apply(remove_space)
movies['crew'] = movies['crew'].apply(remove_space)
movies['genres'] = movies['genres'].apply(remove_space)
movies['keywords'] = movies['keywords'].apply(remove_space)

In [41]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,301325,#Horror,"[Inspired, by, actual, events,, a, group, of, ...","[Drama, Mystery, Horror, Thriller]",[],"[TarynManning, NatashaLyonne, ChloëSevigny]",[TaraSubkoff]
1,19913,(500) Days of Summer,"[Tom, (Joseph, Gordon-Levitt),, greeting-card,...","[Comedy, Drama, Romance]","[date, sex, jealousy, fight, architect, galler...","[JosephGordon-Levitt, ZooeyDeschanel, ChloëGra...",[MarcWebb]
2,333371,10 Cloverfield Lane,"[After, a, car, accident,, Michelle, awakens, ...","[Thriller, ScienceFiction, Drama]","[kidnapping, bunker, paranoia, basement, survi...","[MaryElizabethWinstead, JohnGoodman, JohnGalla...",[DanTrachtenberg]
3,345003,10 Days in a Madhouse,"[Nellie, Bly,, a, 23, year-old, reporter, for,...",[Drama],"[undercover, insaneasylum, reporter]","[CarolineBarry, ChristopherLambert, KellyLeBrock]",[TimothyHines]
4,4951,10 Things I Hate About You,"[Bianca,, a, tenth, grader,, has, never, gone,...","[Comedy, Romance, Drama]","[shakespeare, sister, highschool, cannabis, de...","[HeathLedger, JuliaStiles, JosephGordon-Levitt]",[GilJunger]

In [42]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [43]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,301325,#Horror,"[Inspired, by, actual, events,, a, group, of, ...","[Drama, Mystery, Horror, Thriller]",[],"[TarynManning, NatashaLyonne, ChloëSevigny]",[TaraSubkoff],"[Inspired, by, actual, events,, a, group, of, ..."
1,19913,(500) Days of Summer,"[Tom, (Joseph, Gordon-Levitt),, greeting-card,...","[Comedy, Drama, Romance]","[date, sex, jealousy, fight, architect, galler...","[JosephGordon-Levitt, ZooeyDeschanel, ChloëGra...",[MarcWebb],"[Tom, (Joseph, Gordon-Levitt),, greeting-card,..."
2,333371,10 Cloverfield Lane,"[After, a, car, accident,, Michelle, awakens, ...","[Thriller, ScienceFiction, Drama]","[kidnapping, bunker, paranoia, basement, survi...","[MaryElizabethWinstead, JohnGoodman, JohnGalla...",[DanTrachtenberg],"[After, a, car, accident,, Michelle, awakens, ..."
3,345003,10 Days in a Madhouse,"[Nellie, Bly,, a, 23, year-old, reporter, for,...",[Drama],"[undercover, insaneasylum, reporter]","[CarolineBarry, ChristopherLambert, KellyLeBrock]",[TimothyHines],"[Nellie, Bly,, a, 23, year-old, reporter, for,..."
4,4951,10 Things I Hate About You,"[Bianca,, a, tenth, grader,, has, never, gone,...","[Comedy, Romance, Drama]","[shakespeare, sister, highschool, cannabis, de...","[HeathLedger, JuliaStiles, JosephGordon-Levitt]",[GilJunger],"[Bianca,, a, tenth, grader,, has, never, gone,..."

In [44]:
new_df = movies[['movie_id','title','tags']]

In [45]:
new_df.head()

,movie_id,title,tags
0,301325,#Horror,"[Inspired, by, actual, events,, a, group, of, ..."
1,19913,(500) Days of Summer,"[Tom, (Joseph, Gordon-Levitt),, greeting-card,..."
2,333371,10 Cloverfield Lane,"[After, a, car, accident,, Michelle, awakens, ..."
3,345003,10 Days in a Madhouse,"[Nellie, Bly,, a, 23, year-old, reporter, for,..."
4,4951,10 Things I Hate About You,"[Bianca,, a, tenth, grader,, has, never, gone,..."

In [46]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\HP\AppData\Local\Temp\ipykernel_20328\1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [47]:
new_df.head()

,movie_id,title,tags
0,301325,#Horror,"Inspired by actual events, a group of 12 year ..."
1,19913,(500) Days of Summer,"Tom (Joseph Gordon-Levitt), greeting-card writ..."
2,333371,10 Cloverfield Lane,"After a car accident, Michelle awakens to find..."
3,345003,10 Days in a Madhouse,"Nellie Bly, a 23 year-old reporter for Joseph ..."
4,4951,10 Things I Hate About You,"Bianca, a tenth grader, has never gone on a da..."

In [48]:
new_df.iloc[0]['tags']

'Inspired by actual events, a group of 12 year old girls face a night of horror when the compulsive addiction of an online social media game turns a moment of cyber bullying into a night of insanity. Drama Mystery Horror Thriller TarynManning NatashaLyonne ChloëSevigny TaraSubkoff'

In [49]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df.head(2)

C:\Users\HP\AppData\Local\Temp\ipykernel_20328\3744629507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

,movie_id,title,tags
0,301325,#Horror,"inspired by actual events, a group of 12 year ..."
1,19913,(500) Days of Summer,"tom (joseph gordon-levitt), greeting-card writ..."

In [50]:
new_df.iloc[0]['tags']

'inspired by actual events, a group of 12 year old girls face a night of horror when the compulsive addiction of an online social media game turns a moment of cyber bullying into a night of insanity. drama mystery horror thriller tarynmanning natashalyonne chloësevigny tarasubkoff'

In [51]:
pip install nltk

Requirement already satisfied: nltk in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [52]:
import nltk
from nltk.stem import PorterStemmer

In [53]:
ps = PorterStemmer()

In [54]:
def stems(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [55]:
new_df['tags']=new_df['tags'].apply(stems)

C:\Users\HP\AppData\Local\Temp\ipykernel_20328\1522715013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stems)

In [56]:
new_df.iloc[0]['tags']

'inspir by actual events, a group of 12 year old girl face a night of horror when the compuls addict of an onlin social media game turn a moment of cyber bulli into a night of insanity. drama mysteri horror thriller tarynman natashalyonn chloësevigni tarasubkoff'

In [57]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [58]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [59]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [60]:
vector.shape

(4806, 5000)

In [61]:
from sklearn.metrics.pairwise import cosine_similarity

In [62]:
similarity = cosine_similarity(vector)

In [63]:
similarity

array([[1.        , 0.04675246, 0.08728716, ..., 0.03178209, 0.07905694,
        0.03001501],
       [0.04675246, 1.        , 0.01530333, ..., 0.04457672, 0.01848053,
        0.02104913],
       [0.08728716, 0.01530333, 1.        , ..., 0.06241878, 0.05175492,
        0.09824719],
       ...,
       [0.03178209, 0.04457672, 0.06241878, ..., 1.        , 0.17588162,
        0.20032733],
       [0.07905694, 0.01848053, 0.05175492, ..., 0.17588162, 1.        ,
        0.0474579 ],
       [0.03001501, 0.02104913, 0.09824719, ..., 0.20032733, 0.0474579 ,
        1.        ]])

In [64]:
similarity.shape

(4806, 4806)

In [65]:
new_df[new_df['title'] == 'Spider-Man'].index[0]

3197

In [66]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]  # Get index of the movie
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])  # Sort by similarity
    for i in distances[1:6]:  # Skip the first one (itself)
        print(new_df.iloc[i[0]].title)  # Access title correctly

In [68]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [76]:
import pickle
import os

# Create the folder if it doesn't exist
os.makedirs('artifacts', exist_ok=True)

# Save the DataFrame
with open('artifacts/movie_list.pkl', 'wb') as f:
    pickle.dump(new_df, f)

# Save the similarity matrix
with open('artifacts/similarity.pkl', 'wb') as f:
    pickle.dump(similarity, f)

In [77]:
import pickle

# Load the movie list
with open('artifacts/movie_list.pkl', 'rb') as f:
    new_df = pickle.load(f)

# Load the similarity matrix
with open('artifacts/similarity.pkl', 'rb') as f:
    similarity = pickle.load(f)

In [78]:
import os

# List all files in the 'artifacts' folder
print(os.listdir("artifacts"))

['movie_list.pkl', 'similarity.pkl']